<h1>All Current Rooms</h1>

<%= react_component('RoomSearch', rooms: @rooms, campusID: params[:campus_id]) %>

<!-- <% @rooms.each do |room| %>
    <%= link_to room.name, campus_room_path(room.campus, room) %>
    <hr>
<% end %> -->
