<h1>Viewing a room</h1>

<%=@room.name%>
<hr>
<%=@room.location%>
<hr>
<%=@room.capacity%>
<hr>

<% @room.events.each do |event| %>
  <%= link_to event.name, campus_room_event_path(@room.campus, @room, event) %> <br>
<% end %>
