<p id="notice"><%= notice %></p>
<div class="container">

  <h1>Listing campuses</h1>


        Campuses:

      <% @campuses.each do |campus| %>
          <%= campus.name %> <br>
          <%= image_tag campus.picture_url, width: 50, height:50 %> <br>
          <%= link_to 'Show', campus %><br>
          <hr>
      <% end %>
