<p id="notice"><%= notice %></p>
<div class="container">

  <h1>Listing campuses</h1>
  </br>
  </br>

    <tbody>
      <% @campuses.each do |campus| %>
        <tr>
          <div>
            <h4><%= campus.name %></h4>
            <img src="<%= campus.picture_url, width: 50, height:50  %>"></img>
            <p><%= link_to 'Show', campus %></p>
          </div>
        </tr>

      <% end %>
    </tbody>
  </table>

  <br>

</div>
