<p id="notice"><%= notice %></p>
<div class="container">

  <h1>Listing campuses</h1>

      <% @campuses.each do |campus| %>
          <%= campus.name %> <br>
          <%= attachment_image_tag(campus, :profile_image, :fill, 150, 150, format: "jpg", fallback: 'campus.jpg', class:"camp-picture") %>
          <%= link_to 'Show', campus %><br>
          <hr>
      <% end %>
