<p>A new event was created in <%= link_to @room.name,
        :controller => "rooms",
        :action => "show",
        :only_path => false,
        :campus_id => @room.campus.id
        :id => @room.id
        :host => "example.com" %>.</p>

<blockquote>
  Name: <em><%= @event.name %></em>
</blockquote>
<blockquote>
  When: <%= @event.start_time %>
</blockquote>

<p>To see more details about the event, please visit the <%= link_to "event page",
        :controller => "events",
        :action => "show",
        :only_path => false,
        :campus_id => @room.campus.id
        :room_id => @event.room.id
        :id => @event.id
        :host => "example.com" %>.</p>
