/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require rails_bootstrap_forms
 */

 $secondary-color: #1D3557;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Lato);


html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, .btn, .btn-default {
  font-family: Lato;
}

nav.navbar-default {
  .navbar-brand {
    font-family: Lato;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

p {
  font-family: Merriweather;
}

body {
  padding: 6.625em 0 6.625em 0;
  background-color: #CCDBDC;
}

.pull-center {
  margin: 0;
  text-align: center;
  float: none;
}

.navbar {
  background-color: #457B9D;
  border-bottom: 2px solid $secondary-color;
  padding: 2px 0 2px 0;
  ul {
    border: none;
    a.nav-link {
      font-size: 1.125em;
      margin-right: 1em;
      font-family: Lato;
      color: white;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.dash-picture {
  height: 3.75em;
  width: 3.75em;
}

.pending-events-display {
  padding: .75em 0;
  margin-top: 2.5em;
  background-color: #F5F5F5;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  li {
    font-family: Merriweather;
  }
}

.pending-events-display-list {
  list-style: none;
}

.pending-events-header {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
}

.sm-margin-right {
  margin-right: .3125em;
}

.dashboard-event-create {
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;
}

.pending-events-display-list-item {
  margin-bottom: .5em;
}

.time-display {
  font-weight: bold;
}

.sm-padding-left {
  padding-left: 5px;
}

.form-control {
  width: 50%;
}

.form-control-100 {
  @extend .form-control;
  width: 100%;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #1D3557;
}

#all_footnotes {
  background-color: #1D3557;
  color: white;
}

#footnotes_debug a {
  color: #2E6BA3 !important;
}
