/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require rails_bootstrap_forms
 */
$primary-color: #457B9D;
$secondary-color: #1D3557;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Lato:400,700);


html {
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, .btn, .btn-default {
  font-family: Lato;
}

.btn {
  background-color: $primary-color;
}

.btn-default {
  background-color: $primary-color;
}

nav.navbar-default {
  .navbar-brand {
    font-family: Lato;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  .parent-brand {
    color: darken(white,15%);
    font-style: italic;
    font-size: 80%;
    margin-top: 0.2em;
    &:hover {
      color: darken(white,15%);
    }

  }
  .row {
    min-width: 12em;
  }
}

p {
  font-family: Merriweather;
}

body {
  padding: 6.625em 0 6.625em 0;
  background-color: #CCDBDC;
}

.campus-header {
  margin: 2em;
}

.pull-center {
  margin: 0;
  text-align: center;
  float: none;
}

.navbar {
  background-color: #457B9D;
  border-bottom: 2px solid $secondary-color;
  padding: 2px 0 2px 0;
  div {
    border: none;
          margin-top: .3em;
    a.nav-link {
      font-size: 1.125em;
      font-family: Lato;
      color: white;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}


.dash-picture {
  border-radius: 50%;
  border: solid 2px $primary-color;
  width: 150px;
  height :auto;
}

.camp-picture {
  border-radius: 8px / 8px;
  border: solid 2px $primary-color;
  width: 175px;
  height :auto;
  margin-top: 10px;
}


.table-link {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}


.pending-events-display {
  padding: .75em 0;
  margin-top: 2.5em;
  background-color: #F5F5F5;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  li {
    font-family: Merriweather;
  }
}

.pending-events-display-list {
  list-style: none;
  padding-left: 0;
}

.agenda-text {
  color: gray;
}

.pending-events-header {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
}

.sm-margin-right {
  margin-right: .3125em;
}

.dashboard-event-create {
  text-decoration: none;
  display: block;
  text-align: center;
  color: black;
}

.pending-events-display-list-item {
  margin-bottom: .5em;
}

.time-display {
  font-weight: bold;
}

.sm-padding-left {
  padding-left: 5px;
}

.form-control-100 {
  @extend .form-control;
  width: 100%;
  height: auto;
}

.style-custome {
    width:70%;
    height: auto;
}

.campus-room {
  text-align: center;

}

.campus-description-padding {
  padding-top: 25px;
}

.header-with-admin-buttons {
  display: inline-block;
}

.bottom-border {
  padding: 1em 0;
}
.room-name {
  font-style: italic;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $primary-color;
}

#all_footnotes {
  background-color: $primary-color;
  color: white;
}

#footnotes_debug a {
  color: black !important;
}
